body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


// main column
.main-column {
  vertical-align: top;
  display: inline-block;
  width: 55%;
  padding-left: 24%;
}
