
.decks-row {
  display: inline-block;
  vertical-align: top;
  margin-top: 10%;
  width: 100%;
  background-color: white;
}
.decks-row img {
  display: inline-block;
  vertical-align: top;
  width: 9%;
}
