@media (max-width: 480px) {
  .header {
    display: none;
  }
  .nav-button {
    display: block;
    vertical-align: top;
    width: 100%;
    background-color: #B92D2D;
    border-bottom: 3px solid grey;
    margin-left: 0;
    font-size: 1em;
  }
  .articles-row {
    display: none;
  }

  .slider-row {
    display: none;
  }
  .decks-row {
    display: none;
  }
  .contact-row {
    display: none;
  }
  .other-skaters {
    width: 100%;
    height: 65%
  }
  .other-skaters li {
    height: 30%;
    width: 100%;
    display: block;
    margin-top: 1%;
  }
  .skaters-row p {
    font-size: 100%;
  }

  .v-skater {
    display: block;
    width: 100%;
    height: 22%;
  }
  .names-v {
    margin-top: 18%;
  }


}
