body {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat; }

.main-column {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  padding-left: 33%;
  padding-right: 33%; }

.header {
  display: inline-block;
  vertical-align: top;
  width: 100%; }

.header ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.subscribe {
  display: inline-block;
  vertical-align: top;
  width: 19%;
  background-color: black;
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 2em;
  margin: auto; }

.header-block {
  display: inline-block;
  vertical-align: top;
  width: 19%;
  margin: auto;
  background-color: white; }

.nav-bar {
  display: inline-block;
  vertical-align: top;
  width: 100%; }

.nav-button {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  background-color: red; }

.slider-row {
  display: inline-block;
  vertical-align: top;
  background: url("images/top-image.png") no-repeat;
  background-size: contain; }

.slide {
  height: 100%;
  width: 100%; }

.articles-row {
  display: inline-block;
  vertical-align: top; }

.article {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  background-color: white; }

.skaters-row {
  display: inline-block;
  vertical-align: top;
  width: 100%; }

.skater {
  display: inline-block;
  vertical-align: top;
  width: 24%; }

.decks-row {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: white; }

.decks-row img {
  display: inline-block;
  vertical-align: top;
  width: 9%; }

.contact-row {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  border: 1px solid red;
  background-color: white; }
