body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.main-column {
  vertical-align: top;
  display: inline-block;
  width: 55%;
  padding-left: 24%; }

.header {
  display: inline-block;
  vertical-align: top;
  width: 100%; }

.header ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.subscribe {
  display: inline-block;
  vertical-align: top;
  width: 19%;
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 2em;
  margin-left: 50%; }

.subscribe a {
  text-decoration: none;
  color: white; }

.header-block {
  display: inline-block;
  vertical-align: top;
  float: right; }

.header-block div {
  width: 60px;
  height: 60px;
  margin: 0;
  display: inline-block;
  background-size: contain; }

.face {
  background-image: url("images/download.png"); }

.pod {
  background-image: url("images/podcast.png"); }

.twit {
  background-image: url("images/download.jpeg"); }

.you {
  background-image: url("images/youtube.jpeg"); }

.nav-bar {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 2%; }

.nav-button {
  display: inline-block;
  vertical-align: top;
  width: 23%;
  background-color: #B92D2D;
  border-bottom: 3px solid grey;
  margin-left: 1%; }

.nav-button h2 {
  color: white;
  text-align: center; }

.slider-row {
  display: inline-block;
  vertical-align: top;
  background: url("images/top-image.png");
  background-size: 168%;
  background-position: 38% 20%;
  height: 300px;
  width: 98%;
  border: 10px solid white;
  margin-top: 2%; }

.slider-row .grid {
  background-image: url("images/grid.png");
  background-size: 250%;
  height: 100%;
  width: 100%; }

.slider-row img {
  width: 40%;
  height: 73%;
  margin-top: 5%;
  margin-left: 2%; }

.articles-row {
  display: inline-block;
  vertical-align: top;
  margin-top: 10%;
  width: 100%; }

.article {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  height: 475px;
  background-color: white; }

.article h1 {
  color: grey;
  padding: 5%; }

.article p {
  color: grey;
  padding: 5%; }

.article h3 {
  color: #B92D2D;
  padding: 5%;
  text-align: center; }

.article .title {
  min-height: 45%; }

.skaters-row {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 500px;
  margin-top: 10%;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 24px; }

.other-skaters {
  display: inline-block;
  vertical-align: top;
  width: 68%;
  height: 100%;
  padding: 0; }

.other-skaters ul {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  padding: 0; }

.skater-b {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  height: 49%;
  background-image: url("images/sk8er-4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 97%;
  border: 4px solid white;
  margin-bottom: 1%; }

.skater-c {
  display: inline-block;
  vertical-align: top;
  width: 46%;
  height: 49%;
  background-image: url("images/sk8er-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 18%;
  border: 4px solid white; }

.h-skater {
  display: inline-block;
  vertical-align: top;
  width: 98%;
  height: 49%;
  background-image: url("images/sk8er-1.png");
  background-size: 112%;
  background-repeat: no-repeat;
  border: 4px solid white;
  background-position: 0%; }

.v-skater {
  display: inline-block;
  vertical-align: top;
  width: 29%;
  height: 100%;
  background-image: url("images/sk8er-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 78% 30%;
  border: 4px solid white; }

.skaters-row p {
  margin: 0;
  font-size: 150%; }

.names-h {
  margin-top: 14%; }

.names-v {
  margin-top: 71%; }

.decks-row {
  display: inline-block;
  vertical-align: top;
  margin-top: 10%;
  width: 100%;
  background-color: white; }

.decks-row img {
  display: inline-block;
  vertical-align: top;
  width: 9%; }

.contact-row {
  display: inline-block;
  vertical-align: top;
  margin-top: 10%;
  width: 100%;
  border: 1px solid red;
  background-color: white; }

.text {
  display: inline-block;
  vertical-align: top;
  width: 30%; }

.form {
  display: inline-block;
  vertical-align: top;
  width: 69%; }
